

<%= form_tag programs_path, :method => 'get' do %>
  <p>
    <br>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



<p id="notice"><%= notice %></p>

<% @page_header="List of Programs" %>

    <% @programs.each do |program| %>

      <hr>
        <p><a data-toggle="collapse" href="#program<%= program.id %>" class='program-name'><%= program.name %></a></p>

        <div id='<%= "program#{program.id}" %>' class="collapse">
          <p class='program-description-tag'>Description: </p>
          <p class='program-description'> <%= program.description %></p>
      </div>
  <% end %>
<br>
<%= will_paginate @programs %>


<br>
