<% @page_title = "Contact" %>

<script type="text/javascript">
function clicked()
{
	alert("Thank you for your message. We'll get back to you within 24 hours. Have a nice day!");
}
</script>
		<div class="fieldset" style ="margin-top:70px">
			<h2 class="title" style ="font-size:20px; margin-left:110px">SEND A MESSAGE</h2><br/>
			<ul>
				<li>
					<label for="name" class="title">Full Name</label>
				</li>
				<li>
					<div class="input-box">
						<input name="name" id="name" title="Name" value="" placeholder ="preffered name(required)" class="login-form-input fk-input" type="text">
					</div></br>
				</li>
				<li>
					<label for="email" class="title">E-MAIL</label>
				</li>
				<li>
					<div>

						<div class="input-box">
							<input name="email" id="email" title="Email" value="" placeholder="someone@xyz.com(required)" class="login-form-input fk-input" type="text">
						</div>
					</div>
				</li>
				<li>
					<label for="telephone" class="title">TELEPHONE</label>
				</li>
				<li>
					<div class="input-box">
						<input name="telephone" id="telephone" placeholder="phone number(optional)" title="Telephone" value="" class="login-form-input fk-input" type="text">
					</div>
				</li>
				<li>
					<label for="comment" class="title">MESSAGE</label>
				</li>
				<li class="wide">

					<div class="input-box">
						<textarea name="comment" id="comment" palceholder="Message(required)" title="Comment" class="login-form-input fk-input" cols="5" rows="3"></textarea>
					</div>
				</li>
<div id="center">
	<div class="vr">&nbsp;</div>
</div>
<div id="right">
	<div class="fieldset" style ="margin-top:70px">
		<h2 class="title" style ="font-size:20px; margin-left:110px">WRITE TO US</h2><br/>
		<ul >

			<li style= "margin-top:40px;">

				<label for="block" class="address">MSC11 6325</label>
			</li>
			<li>
				<label for="street" class="address">1 University of New Mexico</label>
			</li>
			<li>
				<label for="city" class="address"> Albuquerque </label>
			</li>
			<li>
				<label for="state" class="address"> New Mexico - 87131 </label>
			</li>
		</br>
		<li>
			<label class="address"> fax: (505) 456 0001 </label>
		</li>

	</ul>
</div>
</div>
