<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control login-form-input fk-input' %>
  </div>
  <div class="field form-group">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone, class: 'form-control login-form-input fk-input' %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control login-form-input fk-input' %>
  </div>
  <div class="field form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message, class: 'form-control login-form-input fk-input' %>
  </div>
  <div class="actions">
    <%= f.submit 'SUBMIT', class: 'submit-btn btn-default' %>
  </div>
<% end %>
