<% @page_title = 'Contact Us' %>

<div class="row contact-page">
  <div class="container col-sm-4">
    <div class="contact-info">
      <br><br>
      <h5>WRITE TO US</h5>
      <p>MSC11 6325</p>
      <p>1 University of New Mexico</p>
      <p>Albuquerque</p>
      <p> New Mexico - 87131 </p>
      <p> fax: (505) 456 0001 </p>
    </div>
  </div>
  <div class="container contact-form col-sm-6">
    <%= render 'form' %>
  </div>
</div>
