<% @page_header="List of Courses" %>


    <% @courses.each do |course| %>

      <hr>
        <p><a data-toggle="collapse" href="#course<%= course.id %>" class='course-name'><%= course.name %></a></p>

        <div id='<%= "course#{course.id}" %>' class="collapse">
          <p class='course-description-tag'>Description: </p>
          <p class='course-description'> <%= course.description %></p>
          <p class='course-prereq-tag'>Prerequisites: </p>
          <p class='course-prereq'>
          <% if !course.prerequisite.blank? %>
            <%= course.prerequisite.print_tree(course.prerequisite.descendant_tree) %>
          <% else %>
            <%= "None" %>
          <% end %>
        </p>
      </div>
  <% end %>
  <br>
<%= will_paginate @courses %>
