

<%= form_tag courses_path, :method => 'get',:id=>"courses_search" do %>
  <p>
    <br>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



<p id="notice"><%= notice %></p>
<div id='courses'><%= render 'courses/courses' %></div>




<br>
