<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<% if not @course.prerequisite.nil? %>
<p>
  <strong>Prerequisites:</strong>
  <%= @course.prerequisite.print_tree(@course.prerequisite.descendant_tree) %>
</p>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
