.contact-page{
  padding-top: 10%;
  padding-left: 10%;

  h5{
    font-size: 1.5em;
    padding: 1%;
    margin: 10% 0% 10%;
  }
  .contact-info{
    min-height: 500px;
    border-right: 1px solid black;
  }

  .contact-form{
    margin-top: 5%;
    padding-left: 10%;
  }
}
