<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "UNM Catalog | #{@page_title}" : "UNM Catalog" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="site-wrapper">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
